@font-face {
 font-family: 'myriadproregular';
 src: url('fonts/myriadproregular.eot');
 src: url('fonts/myriadproregular.eot?iefix') format('eot'),
      url('fonts/myriadproregular.woff') format('woff'),
      url('fonts/myriadproregular.ttf') format('truetype'),
      url('fonts/myriadproregular.svg#myriadprobold') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'myriadprolight';
 src: url('fonts/myriadprolight.eot');
 src: url('fonts/myriadprolight.eot?iefix') format('eot'),
      url('fonts/myriadprolight.woff') format('woff'),
      url('fonts/myriadprolight.ttf') format('truetype'),
      url('fonts/myriadprolight.svg#myriadprobold') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'myriadprobold';
 src: url('fonts/myriadprobold.eot');
 src: url('fonts/myriadprobold.eot?iefix') format('eot'),
      url('fonts/myriadprobold.woff') format('woff'),
      url('fonts/myriadprobold.ttf') format('truetype'),
      url('fonts/myriadprobold.svg#myriadprobold') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'myriadproboldit';
 src: url('fonts/myriadproboldit.eot');
 src: url('fonts/myriadproboldit.eot?iefix') format('eot'),
      url('fonts/myriadproboldit.woff') format('woff'),
      url('fonts/myriadproboldit.ttf') format('truetype'),
      url('fonts/myriadproboldit.svg#myriadprobold') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'myriadprosemibold';
 src: url('fonts/myriadprosemibold.eot');
 src: url('fonts/myriadprosemibold.eot?iefix') format('eot'),
      url('fonts/myriadprosemibold.woff') format('woff'),
      url('fonts/myriadprosemibold.ttf') format('truetype'),
      url('fonts/myriadprosemibold.svg#myriadprobold') format('svg');
 font-weight: normal;
 font-style: normal;
}

