$topbar-bg: #F2F2F2;

#logo {
  background: url("../images/logo-mendez.jpg") no-repeat 66px 9px;
  width: 160px;
  height: 125px;
  display: block;
  @include  hide-text;
  margin-left: auto;
  margin-right: auto;
}

#phone {
  background: $topbar-bg url("../images/phone.jpg") no-repeat 5px 5px;
  float: right;
  width: 140px;
  height: 35px;
  margin-top: 25px;

  p {
    text-align: right;
    margin-left: 40px;
    border-left: 1px solid gray;
    font-style: bold;
    font-size: 10px;
    color: $topbar-dropdown-link-color;
  }
}

.top-bar-phone {
  width: 100%;
  height: 80px;
}

.row {
  // background-color: red;
}

.top-bar-section {
  
  #mail {
    background: url("../images/mail.jpg") no-repeat center 12px;
    width: 21px;
    height: 30px;
    display: block;
    @include  hide-text;
  }
}


