@media #{$small} {

  // // Desktop Header
  // header {
  //   margin-bottom: 0px;

  //   #logo {
  //     float: right;
  //     margin-right: 10px;
  //     margin-top: 2px;

  //   }

  //   #phone {
  //     // background: #e2e2e2 url("../images/phone.png") no-repeat 11px 7px;
  //     text-align: left;


  //     width: 152px;
  //     font-size: 16px;
  //     float: right;
  //     margin: 39px auto 0;

  //     img {
  //       margin-left: 12px;
  //       margin-top: 0px;
  //       margin-bottom: 0px;
  //     }

  //     p {
  //       margin-top: 6px;
  //       padding-left: 6px;
  //       font-size: 10px;
  //       line-height: 13px;
  //     }
  //   }

  //   .top-bar-section {

  //     ul {
  //       li{
  //         a:not(.button){
  //           line-height: 50px;
  //           background-color: #f2f2f2;
  //         }

  //         &#mail {

  //           a {
  //             background-color: #f2f2f2;
  //           }
  //         }
  //       }

  //       .divider{
  //         border-style: none solid;
  //         border-width: medium 1px;
  //         display: block;
  //       }
  //     }
  //   }

  //   .top-bar-phone {
  //     height: 92px;
  //   }
  // }

  // Desktop Slider
  // .slider {
  //     height: 422px;
  //     border-top: 1px solid #222222;

  //   .orbit-container {
  //     li {

  //       .slide-img {
  //         width: 601px;
  //         height: 302px;
  //         margin-top: 18px;

  //         &#slide01 {
  //           background: url("../images/slide01.png");
  //         }
  //         &#slide02 {
  //           background: url("../images/slide02.png");
  //         }
  //         &#slide03 {
  //           background: url("../images/slide03.png");
  //         }
  //       }

  //       .description {
  //         margin-top: 68px;
  //         margin-left: 0px;

  //         p {
  //           display: block;
  //         }

  //         .link_button.btn_orange {
  //           display: block;
  //         }

  //       }
  //     }
  //   }

  //   .orbit-bullets {
  //     display: block;
  //   }
  // }

  // Desktop Home Body
  #main {
    margin: 0px;

    article {
      margin-bottom: 74px;

      h2 {
        margin-top: 35px;
      }

      h3 {
      font-size: 24px;
      line-height: auto;
      }

      p {
        line-height: 21px;
        margin-bottom: 26px;
      }
    }
  }

  #services-box {
    position: relative;
    top: -36px;
    padding: 10px 10px 10px 21px;
    @include box-shadow(5px 5px 4px #d0d0d0);
    margin: 0px;
    width: 100%;
  }

  #info-panel {
    // position: relative;
    // top: -14px;

    .panel {
      margin: 0px 0px 11px 0px;
      @include box-shadow(5px 5px 4px #d0d0d0);

      p {
      margin-left: 20px;
      }
    }
  }


  // Desktop Footer
  // footer {
  //   padding: 0px;

  //   .side-nav {
  //     padding: 0.875em 0;
  //     border-bottom:none;

  //     .first {

  //     }

  //     li {

  //     }

  //     a {

  //     }
  //   }

  //   .copyright {
  //     position: relative;
  //     left: -34px;

  //     p {
  //       line-height: 12px;
  //     }

  //     #logo {
  //       margin-top: 27px;
  //     }
  //   }
  // }


}
