.slider {
  background-color: rgb(255,255,255);
  @include filter-gradient(#ffffff, #d5d5d5, horizontal);
  @include background-image(radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 29%,rgba(213,213,213,1) 99%));
  border-top: 1px solid #222222;
  height: 422px;

  .orbit-container {
    margin-top: 17px;
    background: none;
  }

  li {

    img {
      margin-left: 15px;
    }

    .description {
      margin-top: 72px;
      margin-left: 10px;

      h2 {
        color: #2D673E;
        font-size: 33px;
        font-family: "myriadproboldit";
        margin: 0px;
        font-weight: normal;
        line-height: 39px;
      }

      h3 {
        font-size: 16px;
        color: #808080;
      }

      p {
        margin-left: 3px;
        font-size: 14px;
        line-height: 18px;
        color: #333333;
      }

      a {
        padding-top: 7px;
      }
    }
    
  }

  .orbit-bullets {
    text-align: center;

    li {
      font-size: 12px;
      display: inline-block;
      width: 27px;
      height: 27px;
      line-height: 24px;
      background: transparent;
      float: none;
      margin-left: 3px;
      margin-right: 3px;
      border: 2px solid transparent;
      @include border-radius(50%);
      border-radius: 50%;
      color: #a3a3a3;
      cursor: pointer;
      margin-top: 16px;


      &.active {
        font-weight: bold;
        background: transparent;
        color: #5f6563;
        border: 2px solid #dfdfdf;
      }

    }
  }
}

