@media #{$tablet}{
  header{

    .top-bar-section {
      ul li {
        float: left;
      }

      .divider{
        clear: none;
        width: auto;
      }

      li a:not(.button){
        padding: 0 12%;
      }
    }
  }

  footer{
    .copyright{
      left: -15%;
    }
  }

  #related{

    .row .column, .row .columns {
      width: 100%;
    }
  }

}